input[type="text"] {
    width: 500px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.594);
    padding-left: 15px;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: rgba(87, 86, 86, 0.594);
}

input[type="submit"] {
    background-color: white;
    width: 70px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.594);
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    transition-duration: 0.3s;
    background-color: #f0f0f0;
}

input[type="text"]:focus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}