.menu-options {
    display: flex;
}

.menu-option {
    display: flex;
    justify-content: center;
    width: 25vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

.menu-option:nth-child(even) {
    background-color: #a8d9e2;
}

.menu-option:nth-child(odd) {
    background-color: #95c0c8;
}

a { 
    color: #898a89;
    text-decoration: none; 
}

a.active { 
    color: #333; 
    font-weight: bold; 
}