.task {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

#description {
    text-decoration: underline;
}

.due-date-title, .completed {
    font-weight: bold;
}

.completed {
    color: #3b913e;
}