<div class="module-menu">
    <div class="module-homework">
      <div class="home-header">
        <h2>Homework 📚</h2>
      </div>
      <div class="current-homework">
        <app-current-homework *ngIf="module" [module]="module"></app-current-homework>
      </div>
    </div>
  
    <div class="module-front-page">
      <div class="module-banner">
        <img *ngIf="module" [src]="module.banner" [alt]="'Banner del módulo ' + module.name">
      </div>
  
      <div class="post" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>  