.module-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

.module-front-page {
    margin-top: 15px;
    width: 1300px;
    background-color: #cde0e3;
    display: block;
}

.module-banner {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.module-banner img {
    width: 100%;
}

.post {
    background-color: #e3f2fd;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.516);
}


.module-homework {
    background-color: #cde0e3;
    margin-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 0;
    flex-shrink: 0;
    height: auto;
    width: 350px;
    overflow: hidden;
}

.home-header {
    display: flex;
    justify-content: center;
    background-color: #a8d9e2;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}