.module-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.module-front-page {
    margin-top: 15px;
    width: 1300px;
    background-color: #cde0e3;
}

.module-banner {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.module-banner img {
    width: 100%;
}

.post {
    background-color: #e3f2fd;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.516);
}

.profile-card {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #e0e0e0;
    border-radius: 50px;
    width: 170px;
    margin-left: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.671);
}

.profile-picture-div {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: #3aa0ec;
    padding: 2px;
    border-radius: 30px;
}

.profile-picture-div img {
    width: 95%;
    border-radius: 30px;
}

.comment-section {
    background-color: white;
    padding: 15px;
    border-top: 3px solid #a7a7a759;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.post-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.post-content p {
    width: 70%;
    text-align: justify;
}

#optional-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #e3f2fd;
    border: 1px solid #e3f2fd;
    border-radius: 5px;
}

#optional-image:hover {
    transition-duration: 1s;
    border: 1px solid rgba(0, 0, 0, 0.457);
}

input[type="text"] {
    width: 500px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.594);
    padding-left: 15px;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: rgba(87, 86, 86, 0.594);
}

input[type="submit"] {
    background-color: white;
    width: 70px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.594);
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    transition-duration: 0.3s;
    background-color: #f0f0f0;
}

input[type="text"]:focus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 70px;
}

.comment-left {
    display: inline-block;
    width: 14%;
}

.comment-left img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.comment-right {
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
}

.comment-right p, span {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-author {
    font-weight: 600;
}

.comment-author span {
    font-size: 12px;
    color: #6a6a6a;
}


/* Componente de deberes sin hacer */
.module-homework {
    background-color: #cde0e3;
    height: 250px;
    width: 320px;
    margin-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.home-header {
    display: flex;
    justify-content: center;
    background-color: #a8d9e2;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#show-all {
    position: absolute;
    bottom: -10px;
    right: 18px;
}