.calendar-page {
    width: 100%;
    max-width: 300px;  /* Make the calendar smaller */
    margin: 0;  /* Remove centering margin */
    padding: 20px;
    text-align: left;  /* Align text to the left */
}
  
mat-form-field {
    width: 100%;
}

p {
    margin: 10px 0;
}

.div-tools {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
}

.module-filters {
    padding: 20px;
    width: 400px;
    vertical-align: bottom;
}