<!-- Aquí ira el sistema de notificaciones si me da tiempo... -->


<div class="week-tasks">
    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <div class="module-details">
                <div class="details-left"><img src="" alt="Profile"></div>
                <div class="details-right">
                    <p class="module-title">Design of web interfaces | 2nd DAW 24-25</p>
                    <p>Beatriz Morales</p>
                </div>
            </div>

            <div class="task-list">
                <p>Tarea 1</p>
                <p>Tarea 2</p>
                <p>Tarea 3</p>
            </div>

            <div class="module-description">
                Learn how to create visually engaging UI.
                <button>OPEN</button><button>YOUR WORK</button>
            </div>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <p class="nothing">
            Nothing to do this day..
            Sitback 💺
            Relax 😊
        </p>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>
</div>