<!-- Aquí ira el sistema de notificaciones si me da tiempo... -->


<div class="week-tasks">
    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <div class="module-details">
                <div class="details-left"><img src="/assets/profile-photos/tutors/carlos.png" alt="Profile"></div>
                <div class="details-right">
                    <p class="module-title">Design of web interfaces | 2nd DAW 24-25</p>
                    <p class="module-tutor">Beatriz Morales</p>
                </div>
            </div>

            <div class="task-list">
                <a href="#" class="task">
                    <p class="due-date"><span class="due-date-title">Due date: </span>Monday</p>
                    <p>9:00 [TASK] - 02 - Second version taskmanager</p>
                </a>

                <div class="task">
                    <p class="due-date completed">COMPLETED</p>
                    <p>11:00 [TASK] - 03 - Third version taskmanager</p>
                </div>
            </div>

            <div class="module-description">
                <p>Learn how to create visually engaging UI.</p>
                <button>OPEN</button><button>YOUR WORK</button>
            </div>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <p class="nothing">
            Nothing to do this day...<br>
            Sitback 💺<br>
            Relax 😊
        </p>
    </div>

    <div class="day-tasks">
        <div class="day-header">
            <h4>Monday <i class="fa fa-calendar"></i></h4>
        </div>
        <div class="module">
            <p>Tarea 1</p>
            <p>Tarea 2</p>
            <p>Tarea 3</p>
            <button>OPEN</button><button>YOUR WORK</button>
        </div>
    </div>
</div>