.task-card {
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
mat-card-header {
  background-color: #f5f5f5;
}

mat-card-title {
  font-weight: 400;
}

mat-card-actions button {
  margin-right: 10px;
}

.filters mat-select {
  display: block;
  margin: 20px auto;
  width: 50%;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.filters mat-select.mat-focused {
  border-color: #3f51b5;
  box-shadow: 0 0 0 4px rgba(63, 81, 181, 0.2);
}

.filters mat-select .mat-select-trigger {
  padding: 10px;
  font-weight: 400;
  color: #333;
}

.mat-option {
  font-size: 16px;
  padding: 12px;
  font-weight: 400;
}

.mat-option:hover {
  background-color: #3f51b5;
  color: white;
}

.task-details strong {
  font-weight: 500;
}
  